.root {
    -fx-background-color: papayawhip;
}

.movelistpane {
    -fx-background-color: burlywood;
    -fx-border: 10;
    -fx-border-color: brown;
}

.freepawnpane {
    -fx-padding: 10;
    -fx-background-color: burlywood;
    -fx-border: 5;
    -fx-border-color: brown;
}

.boardpane {
    -fx-background-color: linen;
    -fx-border: 5;
    -fx-border-color: brown;
}

.whitepawn {
    -fx-fill: white;
    -fx-stroke: gray;
    -fx-stroke-width: 2;
}

.whitepawn:hover {
    -fx-fill: #e6e6e6;
    -fx-stroke: #1a1a1a;
}

.whitepawn:pressed {
    -fx-fill: #b3b3b3;
    -fx-stroke: #262626;
}

.dotwhitepawn {
    -fx-fill: black;
}

.blackpawn {
    -fx-fill: black;
    -fx-stroke: gray;
    -fx-stroke-width: 2;
}

.blackpawn:hover {
    -fx-fill: #808080;
    -fx-stroke: #e6e6e6;
}

.blackpawn:pressed {
    -fx-fill: #c0c0c0;
    -fx-stroke: #d9d9d9;
}

.dotblackpawn {
    -fx-fill: white;
}

.possible_position {
    -fx-fill: #c0c0c0;
    -fx-stroke: #d9d9d9;
}

.focusedlabel {
    -fx-background-color: white;
    -fx-font-family: "Lucida Console", "Courier New", Courier, monospace;
    -fx-font-size: 11pt;
    -fx-padding: 3;
}

.label {
    -fx-font-family: "Lucida Console", "Courier New", Courier, monospace;
    -fx-font-size: 11pt;
    -fx-padding: 3;
}

.label:hover {
    -fx-background-color: lightgray;
}

.erroneous {
    -fx-text-fill: red;
}

.tooltip {
    -fx-background-color: #ffff88;
    -fx-text-fill: dimgray;
    -fx-font-size: 11pt;
}